
@{
    ViewData["Title"] = "Risk Management Summary Page";
}

<h1>Risks Summary</h1>

<p>
    Summary of current live Risks can be flund below.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                5
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

