@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my simple ASP.Net CRUD application hosted using google cloud platform to host the app, along with a sql backend. The purpose of this app
    is to outline what can be done using the MVC methodolgy when creating a CRUD application. This application is intended to log and manage risks,
    creating a central location to risk manage for a business enviroment. I have future plans to expand this to use authentication, and also the addition
    of a mitigation step for each risk, bringing it in line with other risk management tools.</p>
</div>
